::selection {
	background-color: rgb(51,129,141);
	color: white;
}
.btn1 {
	border: 2px solid black;
	padding: 7px 15px 7px 15px;
	color: black;
	background: transparent;
	transition: 0.3s;
	font-weight: bold;
}
.btn1:hover {
	background-color: black;
	color: white;
}
.btn2 {
	border: 2px solid black;
	padding: 2px 15px 2px 15px;
	color: black;
	background: transparent;
	transition: 0.3s;
	font-weight: bold;
}
.btn2:hover {
	background-color: black;
	color: white;
}
.btn3 {
	border: 2px solid black;
	padding: 2px 15px 2px 15px;
	font-size: 24px;
	color: black;
	background: transparent;
	transition: 0.3s;
	font-weight: bold;
}
.btn3:hover {
	background-color: black;
	color: white;
}
.btn4 {
	border: 2px solid black;
	padding: 2px 15px 2px 15px;
	font-size: 24px;
	color: black;
	background: transparent;
	transition: 0.3s;
	font-weight: bold;
}
.btn4:hover {
	background-color: black;
	color: white;
}
.btn5 {
	border: 2px solid black;
	padding: 2px 15px 2px 15px;
	font-size: 24px;
	color: black;
	background: transparent;
	transition: 0.3s;
	font-weight: bold;
}
.btn5:hover {
	background-color: black;
	color: white;
}
.btn6 {
	border: 2px solid black;
	padding: 2px 15px 2px 15px;
	font-size: 24px;
	color: black;
	background: transparent;
	transition: 0.3s;
	font-weight: bold;
}
.btn6:hover {
	background-color: black;
	color: white;
}